Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Jardin_BuiltData.uasset
Content/Jardin_BuiltData.uasset
Content/Jardin_BuiltData.uasset
